<div class="jumbotron">
    <h1 style="font-size:42px;">Izsekovanje rondelic WebAPI</h1>
    <p class="lead">REST storitev za izračunavanje rondelic, prijavljanje uporabnikov in shranjevanje podatkov v podatkovno zbirko. Spodaj se nahaja seznam klicev.</p>
    <p><a href="#apicalls" class="btn btn-primary btn-lg">Preveri &raquo;</a></p>
</div>
<div class="row" id="apicalls">
    <div class="col-md-4">
        <h3>/LogIn <span class="badge">get</span></h3>
        <p class="text-muted">Metoda za prijavo uporabnika v aplikacijo</p>
        <p>Podatke ki jih je uporabnik vnesel v prijavno okno s pomočjo te metode preverimo če se ujemajo z podatki ki jih imamo shranjne v podatkovni bazi v tabeli user</p>
        <p><a class="btn btn-default" href="api/user/LogIn?username=test&password=test">Preveri &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>/GetProducts <span class="badge">get</span></h3>
        <p class="text-muted">Metoda za pridobivanje zapisov o izračunih izsekanih rondelic</p>
        <p>V seznam naložimo vse zapise ki jih imamo v tabeli product in jih vrnemo kot rezultat metode</p>
        <p><a class="btn btn-default" href="api/product/GetProducts">Preveri &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>/SaveProduct <span class="badge">post</span></h3>
        <p class="text-muted">Shranimo podatke ki smo jih pridobili ob izračunu.</p>
        <p>Shranimo nove oz. posodobimo obstoječe podatke v podatkovni bazi v tabeli product</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>/GetSlugsSum <span class="badge">get</span></h3>
        <p class="text-muted">Izračunamo vsoto rondelic na podlagi vhodnih parametrov</p>
        <p>Na podlagi argumentov se izračuna vsota rondelic in nato se rezultat in ostali podatki shranijo v podatkovno bazo v tabelo product</p>
        <p class="hidden"><a class="btn btn-default" href="api/product/GetProducts">Preveri &raquo;</a></p>
    </div>
</div>
